<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="saleItem">
      <h2 data-cy="saleItemDetailsHeading"><span>Sale Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ saleItem.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ saleItem.name }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ saleItem.price }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ saleItem.quantity }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ saleItem.type }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="saleItem.image">
            <a (click)="openFile(saleItem.image, saleItem.imageContentType)">
              <img [src]="'data:' + saleItem.imageContentType + ';base64,' + saleItem.image" style="max-width: 100%" alt="saleItem image" />
            </a>
            {{ saleItem.imageContentType }}, {{ byteSize(saleItem.image) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sale-item', saleItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
